In [34]:
import pandas as pd 
from datasets import load_dataset

dataset = load_dataset("SetFit/ag_news")
dataset

DatasetDict({
    train: Dataset({
        features: ['text', 'label', 'label_text'],
        num_rows: 120000
    })
    test: Dataset({
        features: ['text', 'label', 'label_text'],
        num_rows: 7600
    })
})

In [35]:
print(dataset)
df_train = dataset['train'].to_pandas()
df_test = dataset['test'].to_pandas()

df_train.head()
# df_test.head()

DatasetDict({
    train: Dataset({
        features: ['text', 'label', 'label_text'],
        num_rows: 120000
    })
    test: Dataset({
        features: ['text', 'label', 'label_text'],
        num_rows: 7600
    })
})

                                                text  label label_text
0  Wall St. Bears Claw Back Into the Black (Reute...      2   Business
1  Carlyle Looks Toward Commercial Aerospace (Reu...      2   Business
2  Oil and Economy Cloud Stocks' Outlook (Reuters...      2   Business
3  Iraq Halts Oil Exports from Main Southern Pipe...      2   Business
4  Oil prices soar to all-time record, posing new...      2   Business

In [44]:
grouped = df_train.groupby(['label', 'label_text' ])['text'].count()
grouped

label  label_text
0      World         30000
1      Sports        30000
2      Business      30000
3      Sci/Tech      30000
Name: text, dtype: int64

In [47]:
df_train.to_csv("../data/train_dataset.csv", index=False)
df_test.to_csv("../data/test_dataset.csv", index=False)